body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x:auto;
	flex-wrap:nowrap;
	width:100%;
}

image-container {
	position: relative;
	transition: transform 0.2s;
}


.image-container{
	width:475px;
	top: 500px;
	border: 10px red;
}
.gradient-custom{
	background:linear-gradient(-120DEG, #E50914,#221F1F,#F5F5F1)
}
.button1{
	width: 120px;
	align-items: center;
	height:50px
}
.search{
	padding-top: 60px;
	width: 30px;
}
.form-control1{
	position: absolute;
	top:10px;
	width: 300px;
}